/* RADIUS */
.radius-xs{
    border-radius: 5px;
}
.radius-sm{
    border-radius: 10px;
}
.radius-md{
    border-radius: 15px;
}
.radius-lg{
    border-radius: 20px;
}
.radius-xl{
    border-radius: 25px;
}


